/* =========================
   GLOBAL
========================= */
body {
  margin: 0;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #1b0f2e, #0b0614);
  overflow-y: auto;   /* IMPORTANT */
  overflow-x: hidden;
}


/* =========================
   BACKGROUND
========================= */
#bgCanvas {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

/* =========================
   HEADER
========================= */
 .hero {
  position: relative;
  z-index: 2;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
}



.title {
   font-size: 42px;
  font-weight: 800;
  color: rgb(204, 146, 248);
  margin-bottom: 30px;
  text-shadow: 0 0 25px rgba(168, 85, 247, 0.7);
}

/* =========================
   UPLOAD SECTION
========================= */
.upload-section {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

.upload-box {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255,255,255,0.1);
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(168,85,247,0.3);
}

/* File button */
.file-btn {
 background: rgba(255,255,255,0.2);
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.file-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Filename text */
#fileName {
  font-size: 14px;
  color: #ddd;
}

/* Upload button */
.upload-btn {
  background: linear-gradient(135deg,#a855f7,#ec4899);
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.upload-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px rgba(236, 72, 153, 0.6);
}


/* =========================
   CARD DESIGN
========================= */
.card {
  width: 85%;
  margin: 40px auto;
  padding: 28px;
  border-radius: 18px;
  background: linear-gradient(
    145deg,
    rgba(36, 20, 60, 0.95),
    rgba(20, 10, 40, 0.95)
  );
  box-shadow:
    0 0 25px rgba(168, 85, 247, 0.35),
    inset 0 0 20px rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  color: white;
}

/* Card title */
.card h3 {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding-bottom: 10px;
}

/* Card text */
.card p {
  color: #ddd;
  margin: 6px 0;
  font-size: 15px;
}

/* =========================
   TABLE
========================= */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

th {
  background: linear-gradient(135deg, #3b1d5f, #5b2b82);
  color: white;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

td {
  background: rgba(255, 255, 255, 0.06);
  color: #ffffff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  text-align: center;
}

tr:hover td {
  background: rgba(255, 255, 255, 0.15);
  transition: 0.3s;
}